@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 43% 34%;

    --card: 0 0% 100%;
    --card-foreground: 240 43% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 43% 20%;

    --primary: 240 49% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 240 43% 34%;

    --muted: 0 0% 73%;
    --muted-foreground: 0 0% 45%;

    --accent: 3 79% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 3 79% 53%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 87%;
    --input: 0 0% 87%;
    --ring: 240 49% 34%;

    --radius: 0.5rem;

    --sidebar-background: 240 49% 34%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 240 49% 34%;
    --sidebar-accent: 240 49% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 49% 28%;
    --sidebar-ring: 0 0% 100%;

    --chart-1: 240 49% 34%;
    --chart-2: 3 79% 53%;
    --chart-3: 0 0% 73%;
    --chart-4: 240 49% 50%;
    --chart-5: 3 79% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
